@page "/AboutMe"
@page "/SobreMi"
@using CV.Resources


@inject IStringLocalizer<AllResourcesRes> AllResourcesResolver

<section class="resume-section" id="intereses">
    <div class="resume-section-content">
        <h2 class="mb-0">
            <span class="text-primary">@AllResourcesResolver["navbar_intereses"] </span>
        </h2>
        <p class="mb-0">@AllResourcesResolver["descripcionSobreMi1"]</p>
        <p>
            @AllResourcesResolver["descripcionSobreMi2"]
        </p>
        <p class="mb-5">
            @AllResourcesResolver["descripcionSobreMi3"]
        </p>



        <Carousel Crossfade="false" Interval="3500">
            <CarouselSlide Name="d">
                <Image Source="assets/img/personales/d.jpeg" Text="Lights image" Display="Display.Block" Width="Width.Is100" Height="Height.Is25" />
            </CarouselSlide>
            <CarouselSlide Name="c">
                <Image Source="assets/img/personales/c.png" Text="Keyboard image" Display="Display.Block" Width="Width.Is100" Height="Height.Is25" />
            </CarouselSlide>
            <CarouselSlide Name="b">
                <Image Source="assets/img/personales/b.png" Text="Road image" Display="Display.Block" Width="Width.Is100" Height="Height.Is25" />
            </CarouselSlide>

            <CarouselSlide Name="e">
                <Image Source="assets/img/personales/e.png" Text="Ajedrez" Display="Display.Block" Width="Width.Is100" Height="Height.Is25" />
            </CarouselSlide>


        </Carousel>


    </div>


</section>
