@page "/Education"
@page "/Educacion"


@inject IStringLocalizer<AllResourcesRes> AllResourcesResolver


<section class="resume-section" id="educacion">
    <div class="resume-section-content">

        <h2 class="mb-0">
            <span class="text-primary"> @AllResourcesResolver["navbar_educacion"]</span>
        </h2>


        

            <SharedSection AltImagen="Universidad de La Rioja"
                           Description=@($@"<div class=""subheading mb-3"">{AllResourcesResolver["descripcionUniversidad"]}</div>".StringToRenderFragament())
                           Subtitulo=""
                           SrcImagen="assets/img/logoUniversidad.png"
                           Titulo="Universidad de La Rioja"
                           TiempoTrabajo="Sep. 2017 - Jul. 2022" />



            <SharedSection AltImagen="IES Valle del OJA"
                           Description=@($@"<div class=""subheading mb-3"">{AllResourcesResolver["descripcionBachiller"]}</div>".StringToRenderFragament())
                           Subtitulo=""
                           SrcImagen="assets/img/logoInstituto.png"
                           Titulo="IES Valle del Oja"
                           TiempoTrabajo="Sep. 2015 - Jul. 2017" />


            <SharedSection AltImagen="Conservatorio de Haro"
                           Description=@($@"<div class=""subheading mb-3"">{AllResourcesResolver["descripcionConservatorio"]}</div>".StringToRenderFragament())
                           Subtitulo=""
                           SrcImagen="assets/img/logoConservatorio.png"
                           Titulo="Conservatorio de Haro"
                           TiempoTrabajo="Aug. 2012 - May 2016" />


            <SharedSection AltImagen="IES Valle del OJA"
                           Description=@($@"<div class=""subheading mb-3"">{AllResourcesResolver["descripcionEso"]}</div>".StringToRenderFragament())
                           Subtitulo=""
                           SrcImagen="assets/img/logoInstituto.png"
                           Titulo="IES Valle del Oja"
                           TiempoTrabajo="Sep. 2011 - Jul. 2015" />

    </div>
</section>