@rendermode InteractiveWebAssembly
@using static Microsoft.AspNetCore.Components.Web.RenderMode
@using Microsoft.Extensions.Localization

@page "/"
@page "/Inicio"
@page "/Index"
@page "/CV"
@page "/CV/Inicio"
@page "/CV/Index"

@inject IStringLocalizer<AllResourcesRes> AllResourcesResolver

<Card>

    <section class="resume-section" id="inicio">
        <div class="resume-section-content">
            <h1 class="mb-0">
                Héctor Solar Ruiz
                <!-- <span class="text-primary">Solar Ruiz</span> -->
            </h1>

            <div class="container">

                <div class="row">
                    <div class="subheading mb-5">
                        @AllResourcesResolver["subtituloProfesional"] · <a href="mailto:name@email.com">hectorsolar99@gmail.com</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm">
                        <p class="lead mb-2"> @AllResourcesResolver["subtituloPersonal"] </p>
                        <p class="mb-0">@AllResourcesResolver["descripcionPersonal1"]</p>
                        <p class="mt-5">@AllResourcesResolver["descripcionPersonal3"]</p>
                    </div>
                    <div class="col-sm" style="width:25%">

                        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">

                            <span class="d-none d-lg-block">
                                <img class="img-fluid img-profile" style="border:none;max-width: 100%; height: auto;max-width:60%;margin-left: 25%;margin-top:-5%;" src="assets/img/profile.jpg" alt="..." />
                            </span>
                        </div>
                    </div>
                </div>

                <div class="social-icons">
                    <a class="social-icon" href="https://www.linkedin.com/in/hesolar/"><i class="fab fa-linkedin-in"></i></a>
                    <a class="social-icon" href="https://github.com/hesolar"><i class="fab fa-github"></i></a>
                    <a class="social-icon" href="https://stackoverflow.com/users/16686166/hesolar?tab=profile"><i class="fab fa-stack-overflow"></i></a>
                </div>
            </div>
        </div>
    </section>
</Card>

