@page "/Tecnologías"
@page "/Tecnologies"
@page "/CV/Tecnologías"
@page "/CV/Tecnologies"
@inject IStringLocalizer<AllResourcesRes> AllResourcesResolver


<section class="resume-section" id="tecnologias">



    <div class="resume-section-content">
        <h2 class="mb-0">
            <span class="text-primary"> @AllResourcesResolver["navbar_tecnologias"]</span>
        </h2>




        <RadzenCard class="mb-2">
            <div class="subheading mb-3"> @AllResourcesResolver["lenguagesProgramacion"]    </div>
            <ul class="fa-ul mb-0">

                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    HTML, CSS, Javascript, C#, SQL
                </li>
            </ul>

            <ul class="list-inline dev-icons">

                <li class="list-inline-item"><img height="60" width="150" src="assets/icons/htmlcssjs.jfif" alt="HTML , CSS, JS"></li>
                <li class="list-inline-item"><img height="60" width="60" src="assets/icons/csharp.png" alt="c#"></li>
                <li class="list-inline-item"><img height="60" width="60" src="assets/icons/sql.png" alt="sql"></li>


            </ul>
        </RadzenCard>

        <RadzenCard class="mb-2">

            <div class="subheading mb-3">Frameworks</div>
            <ul class="fa-ul mb-0">

                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    .NET Core, .NET Framework, Blazor, MVC, EF, Swagger
                </li>
            </ul>

            <ul class="list-inline dev-icons">
                <li class="list-inline-item"><img height="60" width="60" src="assets/icons/dotnet.png" alt="dotnet"></li>
                <li class="list-inline-item"><img height="60" width="120" src="assets/icons/dotnetframework.png" alt="dotnet"></li>

                <li class="list-inline-item"><img height="60" width="60" src="assets/icons/blazor.png" alt="blazor"></li>
                <li class="list-inline-item"><img height="60" width="60" src="assets/icons/mvc.png" alt="mvc"></li>

                <li class="list-inline-item"><img height="60" width="90" src="assets/icons/efcore.png" alt="efcore"></li>
                <li class="list-inline-item"><img height="60" width="90" src="assets/icons/swaggeropenapi.png" alt="GIT"></li>
            </ul>
        </RadzenCard>

        <RadzenCard class="mb-2">
            <div class="subheading mb-3">@AllResourcesResolver["svcs"]</div>
            <ul class="fa-ul mb-0">

                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    GIT, Github,Gitlab
                </li>
            </ul>
            <li class="list-inline-item"><img height="40" width="80" src="assets/icons/git.png" alt="GIT"></li>
            <li class="list-inline-item"><img height="60" width="90" src="assets/icons/github.png" alt="github"></li>
            <li class="list-inline-item"><img height="60" width="90" src="assets/icons/gitlab.png" alt="github"></li>
        </RadzenCard>

        <RadzenCard class="mb-2">
            <div class="subheading mb-3">QA , CI , CD</div>
            <ul class="fa-ul mb-0">
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Jenkins, Docker, SonarQube
                </li>
            </ul>
            <li class="list-inline-item"><img height="60" width="90" src="assets/icons/jenkins.png" alt="Jenkins"></li>
            <li class="list-inline-item"><img height="60" width="90" src="assets/icons/docker.png" alt="docker"></li>
            <li class="list-inline-item"><img height="60" width="90" src="assets/icons/sonarqube.png" alt="sonarqube"></li>
        </RadzenCard>


        <RadzenCard class="mb-2">
            <div class="subheading mb-3">  @AllResourcesResolver["metodologias"]</div>
            <ul class="fa-ul mb-0">
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Agile, Scrum, DDD & Clean Architecture, SOLID
                </li>
            </ul>
        </RadzenCard>

    </div>
</section>
<hr class="m-0" />

